extends common/base

block pageInfo
  -
    location = 'index.html'

block main
  main.page-main
    h1.visually-hidden Путешествия вместе с "Погнали?"
    section.intro
      h2.visually-hidden Выберите попутчика и в путешествие!
      ._wrapper
        p._title В путешествие <br> с крутыми попутчиками!
        ul._list.-hidden
          li._item
            a._link.-phone(href="tel:88005558628")
              <svg width="19" height="19" viewBox="0 0 19 19" fill="#161C35" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.77423 8.22389C9.77423 8.41289 9.92786 8.56139 10.1156 8.56139C10.5048 8.56139 10.8189 8.87526 10.8189 9.25664C10.8189 9.44226 10.9725 9.59414 11.1602 9.59414C11.348 9.59414 11.5016 9.44226 11.5016 9.25664C11.5016 8.50064 10.8803 7.88639 10.1156 7.88639C9.92786 7.88639 9.77423 8.03827 9.77423 8.22389ZM15.3319 9.59414C15.5231 9.59414 15.6733 9.44226 15.6733 9.25664C15.6733 6.22589 13.1812 3.76215 10.1156 3.76215C9.92786 3.76215 9.77423 3.914 9.77423 4.09965C9.77423 4.28527 9.92786 4.43715 10.1156 4.43715C12.8057 4.43715 14.9905 6.60051 14.9905 9.25664C14.9905 9.44226 15.1441 9.59414 15.3319 9.59414Z"/>
                <path d="M12.9047 9.25661C12.9047 9.44223 13.0583 9.59411 13.2461 9.59411C13.4338 9.59411 13.5874 9.44223 13.5874 9.25661C13.5874 7.36324 12.0307 5.82424 10.1156 5.82424C9.92786 5.82424 9.77423 5.97612 9.77423 6.16174C9.77423 6.35074 9.92786 6.49924 10.1156 6.49924C11.6552 6.49924 12.9047 7.73786 12.9047 9.25661ZM10.1156 1.69998C9.92786 1.69998 9.77423 1.85186 9.77423 2.03748C9.77423 2.22312 9.92786 2.37498 10.1156 2.37498C13.9561 2.37498 17.0798 5.46312 17.0798 9.25661C17.0798 9.44223 17.23 9.59411 17.4211 9.59411C17.6089 9.59411 17.7625 9.44223 17.7625 9.25661C17.7625 5.0885 14.3316 1.69998 10.1156 1.69998ZM13.4509 12.8139L13.0037 13.0535C12.2492 13.4619 11.6621 14.5812 10.7311 13.7375L8.30007 11.3L6.2 9.25661C5.14491 7.92348 6.32631 7.60623 6.73936 6.85699L6.98175 6.41825C7.25485 5.91873 7.35384 5.35849 7.27191 4.79823C7.1934 4.23799 6.93737 3.72836 6.52771 3.32336C6.02931 2.83062 5.36703 2.56062 4.66038 2.56062C3.95372 2.56062 3.28802 2.83062 2.7896 3.32336L2.61552 3.49886C1.69379 4.41012 1.58796 5.97948 2.3151 7.92348C3.00126 9.77973 4.38386 11.7912 6.2 13.5867C8.96858 16.3239 12.0512 17.9 14.2634 17.9C15.1373 17.9 15.8781 17.6536 16.4038 17.1339L16.5813 16.9584C17.0763 16.469 17.3529 15.8142 17.3563 15.1089C17.3529 14.4204 17.0695 13.7454 16.5813 13.2627C15.7586 12.4494 14.4716 12.2671 13.4509 12.8139Z"/>
              </svg>
              span.visually-hidden 8 800 555-86-28
          li._item
            a._link.-mail(href="mailto:mail@htmlacademy.ru")
              <svg width="19" height="17" viewBox="0 0 19 17" fill="#161C35" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.01661 3.32528L8.76661 7.55572C8.99341 7.69747 9.28681 7.76467 9.58201 7.76467C9.87721 7.76467 10.1706 7.69747 10.3974 7.55572L17.1474 3.32528C17.5875 3.04913 18.0033 1.97498 17.196 1.97498H1.96891C1.16161 1.97498 1.57741 3.04913 2.01661 3.32528ZM17.3517 5.63842L10.3974 9.86677C10.0914 10.0537 9.87721 10.0757 9.58201 10.0757C9.28681 10.0757 9.07261 10.0537 8.76661 9.86677C8.46061 9.67987 2.34691 5.94082 1.84741 5.63737C1.49641 5.42317 1.50001 5.67412 1.50001 5.86732V13.525C1.50001 13.966 2.00941 14.575 2.40001 14.575H16.8C17.1906 14.575 17.7 13.966 17.7 13.525V5.86837C17.7 5.67517 17.7036 5.42422 17.3517 5.63842Z"/>
              </svg>
              span.visually-hidden mail@htmlacademy.ru
          li._item
            a._link.-login(href="#") Авторизация
        figure._text
          blockquote._quote «Лучшее приложение, что я видел в жизни!»
          figcaption._author Мурат Эльтазин <br> главный редактор газеты «гаджетлайф»
      ._container.-bg
        ol.features-list._list
          li._item.-direction
            p._text Выберите <br> направление
            span._count 1
          li._item.-ideas
            p._text Изучите идеи <br> путешественников
            span._count 2
          li._item.-similarity
            p._text Находите тех, <br> кто похож на вас
            span._count 3
          li._item.-together
            p._text Путешествуйте <br> вместе!
            span._count 4
      .desktop-navigation
        ._container
          a._logo
            img(src="img/logo-footer-desktop.svg", width="200", height="50", alt="Логотип сайта путешествий 'Погнали?'.")
          nav.main-nav.-bg
            ul.site-list
              each link in navLinks
                if link.href === location
                  li._item.-active
                    a._link.-scroll-menu=link.text
                else
                  li._item
                    a._link.-scroll-menu(href=link.href)=link.text
            ul.user-list
              li._item
                a._link.-phone(href="tel:88005558628")
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="#161C35" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.77423 8.22389C9.77423 8.41289 9.92786 8.56139 10.1156 8.56139C10.5048 8.56139 10.8189 8.87526 10.8189 9.25664C10.8189 9.44226 10.9725 9.59414 11.1602 9.59414C11.348 9.59414 11.5016 9.44226 11.5016 9.25664C11.5016 8.50064 10.8803 7.88639 10.1156 7.88639C9.92786 7.88639 9.77423 8.03827 9.77423 8.22389ZM15.3319 9.59414C15.5231 9.59414 15.6733 9.44226 15.6733 9.25664C15.6733 6.22589 13.1812 3.76215 10.1156 3.76215C9.92786 3.76215 9.77423 3.914 9.77423 4.09965C9.77423 4.28527 9.92786 4.43715 10.1156 4.43715C12.8057 4.43715 14.9905 6.60051 14.9905 9.25664C14.9905 9.44226 15.1441 9.59414 15.3319 9.59414Z"/>
                    <path d="M12.9047 9.25661C12.9047 9.44223 13.0583 9.59411 13.2461 9.59411C13.4338 9.59411 13.5874 9.44223 13.5874 9.25661C13.5874 7.36324 12.0307 5.82424 10.1156 5.82424C9.92786 5.82424 9.77423 5.97612 9.77423 6.16174C9.77423 6.35074 9.92786 6.49924 10.1156 6.49924C11.6552 6.49924 12.9047 7.73786 12.9047 9.25661ZM10.1156 1.69998C9.92786 1.69998 9.77423 1.85186 9.77423 2.03748C9.77423 2.22312 9.92786 2.37498 10.1156 2.37498C13.9561 2.37498 17.0798 5.46312 17.0798 9.25661C17.0798 9.44223 17.23 9.59411 17.4211 9.59411C17.6089 9.59411 17.7625 9.44223 17.7625 9.25661C17.7625 5.0885 14.3316 1.69998 10.1156 1.69998ZM13.4509 12.8139L13.0037 13.0535C12.2492 13.4619 11.6621 14.5812 10.7311 13.7375L8.30007 11.3L6.2 9.25661C5.14491 7.92348 6.32631 7.60623 6.73936 6.85699L6.98175 6.41825C7.25485 5.91873 7.35384 5.35849 7.27191 4.79823C7.1934 4.23799 6.93737 3.72836 6.52771 3.32336C6.02931 2.83062 5.36703 2.56062 4.66038 2.56062C3.95372 2.56062 3.28802 2.83062 2.7896 3.32336L2.61552 3.49886C1.69379 4.41012 1.58796 5.97948 2.3151 7.92348C3.00126 9.77973 4.38386 11.7912 6.2 13.5867C8.96858 16.3239 12.0512 17.9 14.2634 17.9C15.1373 17.9 15.8781 17.6536 16.4038 17.1339L16.5813 16.9584C17.0763 16.469 17.3529 15.8142 17.3563 15.1089C17.3529 14.4204 17.0695 13.7454 16.5813 13.2627C15.7586 12.4494 14.4716 12.2671 13.4509 12.8139Z"/>
                  </svg>
                  span.visually-hidden 8 800 555-86-28
              li._item
                a._link.-mail(href="mailto:mail@htmlacademy.ru")
                  <svg width="19" height="17" viewBox="0 0 19 17" fill="#161C35" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.01661 3.32528L8.76661 7.55572C8.99341 7.69747 9.28681 7.76467 9.58201 7.76467C9.87721 7.76467 10.1706 7.69747 10.3974 7.55572L17.1474 3.32528C17.5875 3.04913 18.0033 1.97498 17.196 1.97498H1.96891C1.16161 1.97498 1.57741 3.04913 2.01661 3.32528ZM17.3517 5.63842L10.3974 9.86677C10.0914 10.0537 9.87721 10.0757 9.58201 10.0757C9.28681 10.0757 9.07261 10.0537 8.76661 9.86677C8.46061 9.67987 2.34691 5.94082 1.84741 5.63737C1.49641 5.42317 1.50001 5.67412 1.50001 5.86732V13.525C1.50001 13.966 2.00941 14.575 2.40001 14.575H16.8C17.1906 14.575 17.7 13.966 17.7 13.525V5.86837C17.7 5.67517 17.7036 5.42422 17.3517 5.63842Z"/>
                  </svg>
                  span.visually-hidden mail@htmlacademy.ru
              li._item
                a._link.-login Авторизация
    section.about
      ._container
        h2._title О сервисе
        p._description Любое путешествие веселее
          br._shift
          |  с попутчиками, которые на одной волне с тобой! Делитесь своими идеями путешествий
          br._shift.-tablet
          |  и черпайте вдохновение
          br._shift.-tablet
          |  в чужих.
        p._slogan А если найдете кого-то близкого по духу — скорее зовите в совместный трип!
        a.button.-service(href="#") Подробнее
    section.direction
      ._container
        ._wrapper
          h2._title Направления
          p._description Мы не продаем туры <br> и ничего не рекламируем. <br> Люди сами пишут о странах, <br> куда хотели бы отправиться <br> и чем можно там заняться.
        ul.list-country._list
          li._item.-thailand
            ._pic.-thailand
              span.visually-hidden Пляж Тайланда.
            ._flag.-thailand
              span.visually-hidden Флаг Тайланда.
            ._inner
              h3._title Таиланд
              p._description Джунгли зовут!
              p._count
                span.visually-hidden Попутчиков
                | 18321
          li._item.-france
            ._pic.-france
              span.visually-hidden Город Франции.
            ._flag.-france
              span.visually-hidden Флаг Франции.
            ._inner
              h3._title Франция
              p._description Трэ бьен, манифик!
              p._count
                span.visually-hidden Попутчиков
                | 12518
          li._item.-czech
            ._pic.-czech
              span.visually-hidden Море Чехии.
            ._flag.-czech
              span.visually-hidden Флаг Чехии.
            ._inner
              h3._title Чехия
              p._description Закоулки старой Европы
              p._count
                span.visually-hidden Попутчиков
                | 5326
        a.button._button-show(href="form.html") Показать все
    section.travelers
      ._container
        ._box
          h2._title Попутчики
          p._description Все мы индивидуальны и у каждого свой взгляд на идеальный отдых. Одному нужен пляж и коктейль,
            br._shift
            |  а
            br._shift.-tablet
            |  другому маршрут для хайкинга.
          p._slogan Теперь можно легко
            br._shift
            |  найти единомышленников!
        ._wrapper
          each user in [users[0], users[1]]
            .user-card(class=user.levelClass)
              picture
                source(type="image/webp" media="(min-width: 768px)" srcset=`img/${user.userPhoto}-main-285x285.webp 1x, img/${user.userPhoto}-main-285x285@2x.webp 2x`)
                source(type="image/webp" srcset=`img/${user.userPhoto}.webp 1x, img/${user.userPhoto}@2x.webp 2x`)
                source(media="(min-width: 768px)" srcset=`img/${user.userPhoto}-main-285x285.png 1x, img/${user.userPhoto}-main-285x285@2x.png 2x`)
                img._photo(src=`img/${user.userPhoto}.png` srcset=`img/${user.userPhoto}@2x.png 2x` alt=user.userAlt)
              ul._country(class=user.class)
                each country in user.countries
                  li._item
                    img(src=`img/${country}.png` alt=COUNTRIES_RUS[country])
                    span._info-text=COUNTRIES_RUS[country]
              ._info
                h3._name(class=`${user.isOnlineMain ? 'user-card__name--online' : ''}`)=user.name + ' ' + user.surname
                ul.hashtag-list._list
                  each tag in user.hashtag
                    li._item
                      a(href="#")._link=tag
                ul.pastime(class=user.pastime)
                  li._item.-plane
                    <svg class="pastime__plane" width="18" height="20" viewBox="0 0 18 20" fill="#101D41" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.7831 0.0931421C15.0546 0.266353 14.3227 0.440377 14.0504 0.917233L11.9433 5.11585L0.629163 7.8059L0.170763 9.14743L8.82861 9.96616L7.35967 13.6009L4.07624 14.3816L3.25187 15.8101L5.62062 16.0673L5.89073 17.2357C6.01174 17.6498 6.43649 17.9263 6.79903 17.8401L7.89351 17.5799L9.16224 19.7433L9.98661 18.3148L9.17628 14.8098L11.5535 11.7795L16.0895 19.741L17.0042 18.7031L14.2128 6.62921L16.7762 2.73424C17.0519 2.25657 16.8721 1.47891 16.6914 0.697594C16.6019 0.310588 16.1457 0.0069433 15.7831 0.0931421Z"/>
                    </svg>
                    span._info Авиаперевозки
                  li._item.-bus
                    <svg class="pastime__bus" width="18" height="21" viewBox="0 0 18 21" fill="#1D2E5B" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.34047 13.9485C4.34047 13.5699 4.20186 13.2467 3.92463 12.9788C3.64741 12.711 3.31289 12.5771 2.92108 12.5771C2.52927 12.5771 2.19475 12.711 1.91752 12.9788C1.6403 13.2467 1.50168 13.5699 1.50168 13.9485C1.50168 14.3271 1.6403 14.6503 1.91752 14.9181C2.19475 15.186 2.52927 15.3199 2.92108 15.3199C3.31289 15.3199 3.64741 15.186 3.92463 14.9181C4.20186 14.6503 4.34047 14.3271 4.34047 13.9485ZM15.6956 13.9485C15.6956 13.5699 15.557 13.2467 15.2798 12.9788C15.0026 12.711 14.668 12.5771 14.2762 12.5771C13.8844 12.5771 13.5499 12.711 13.2727 12.9788C12.9954 13.2467 12.8568 13.5699 12.8568 13.9485C12.8568 14.3271 12.9954 14.6503 13.2727 14.9181C13.5499 15.186 13.8844 15.3199 14.2762 15.3199C14.668 15.3199 15.0026 15.186 15.2798 14.9181C15.557 14.6503 15.6956 14.3271 15.6956 13.9485ZM15.1855 9.70563L14.3871 5.59135C14.3502 5.42706 14.267 5.29313 14.1376 5.18956C14.0082 5.08599 13.8585 5.0342 13.6885 5.0342H3.5088C3.33876 5.0342 3.18906 5.08599 3.05969 5.18956C2.93032 5.29313 2.84715 5.42706 2.81019 5.59135L2.01178 9.70563C1.97482 9.91992 2.02656 10.1092 2.16703 10.2735C2.30749 10.4378 2.48861 10.5199 2.71039 10.5199H14.4869C14.7087 10.5199 14.8898 10.4378 15.0303 10.2735C15.1707 10.1092 15.2225 9.91992 15.1855 9.70563ZM12.6794 3.14849C12.6794 3.00563 12.6277 2.88421 12.5242 2.78421C12.4207 2.68421 12.295 2.63421 12.1471 2.63421H5.05017C4.90232 2.63421 4.77664 2.68421 4.67314 2.78421C4.56965 2.88421 4.5179 3.00563 4.5179 3.14849C4.5179 3.29135 4.56965 3.41278 4.67314 3.51278C4.77664 3.61278 4.90232 3.66278 5.05017 3.66278H12.1471C12.295 3.66278 12.4207 3.61278 12.5242 3.51278C12.6277 3.41278 12.6794 3.29135 12.6794 3.14849ZM17.115 10.9163V17.3771H15.6956V18.7485C15.6956 19.1271 15.557 19.4503 15.2798 19.7181C15.0026 19.986 14.668 20.1199 14.2762 20.1199C13.8844 20.1199 13.5499 19.986 13.2727 19.7181C12.9954 19.4503 12.8568 19.1271 12.8568 18.7485V17.3771H4.34047V18.7485C4.34047 19.1271 4.20186 19.4503 3.92463 19.7181C3.64741 19.986 3.31289 20.1199 2.92108 20.1199C2.52927 20.1199 2.19475 19.986 1.91752 19.7181C1.6403 19.4503 1.50168 19.1271 1.50168 18.7485V17.3771H0.0822906V10.9163C0.0822906 10.1163 0.174699 9.31992 0.359516 8.52706L1.50168 3.66278C1.56822 3.10563 1.92861 2.61635 2.58286 2.19492C3.23712 1.77349 4.08727 1.45564 5.13334 1.24135C6.1794 1.02706 7.33451 0.919922 8.59865 0.919922C9.8628 0.919922 11.0179 1.02706 12.064 1.24135C13.11 1.45564 13.9602 1.77349 14.6144 2.19492C15.2687 2.61635 15.6291 3.10563 15.6956 3.66278L16.86 8.52706C17.03 9.25563 17.115 10.0521 17.115 10.9163Z"/>
                    </svg>
                    span._info Автобусные путешествия
                  li._item.-bicycle
                    <svg class="pastime__bicycle" width="25" height="24" viewBox="0 0 25 24" fill="#1D2E5B" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.3075 21C17.4664 21 16.6443 20.7471 15.9449 20.2732C15.2456 19.7994 14.7005 19.1258 14.3787 18.3378C14.0568 17.5498 13.9726 16.6827 14.1367 15.8462C14.3008 15.0096 14.7058 14.2412 15.3005 13.6381C15.8952 13.035 16.653 12.6243 17.4779 12.4579C18.3028 12.2915 19.1579 12.3769 19.9349 12.7033C20.712 13.0297 21.3761 13.5824 21.8434 14.2916C22.3107 15.0008 22.5601 15.8346 22.5601 16.6875C22.5589 17.8309 22.1104 18.927 21.3132 19.7355C20.5159 20.544 19.435 20.9988 18.3075 21V21ZM18.3075 13.875C17.759 13.875 17.2228 14.04 16.7667 14.349C16.3106 14.658 15.9551 15.0973 15.7452 15.6112C15.5353 16.1251 15.4804 16.6906 15.5874 17.2362C15.6944 17.7818 15.9586 18.2829 16.3464 18.6762C16.7343 19.0696 17.2285 19.3374 17.7665 19.446C18.3044 19.5545 18.8621 19.4988 19.3689 19.2859C19.8756 19.073 20.3088 18.7126 20.6135 18.25C20.9183 17.7875 21.0809 17.2438 21.0809 16.6875C21.0801 15.9418 20.7876 15.227 20.2677 14.6997C19.7477 14.1725 19.0428 13.8759 18.3075 13.875V13.875Z"/>
                      <path d="M6.10452 21C5.26345 21 4.44126 20.7471 3.74193 20.2732C3.0426 19.7994 2.49753 19.1258 2.17567 18.3378C1.8538 17.5498 1.76959 16.6827 1.93367 15.8462C2.09776 15.0096 2.50278 14.2412 3.09751 13.6381C3.69224 13.035 4.44997 12.6243 5.27489 12.4579C6.09981 12.2915 6.95486 12.3769 7.73191 12.7033C8.50896 13.0297 9.17312 13.5824 9.6404 14.2916C10.1077 15.0008 10.3571 15.8346 10.3571 16.6875C10.3559 17.8309 9.90743 18.927 9.11019 19.7355C8.31294 20.544 7.232 20.9988 6.10452 21V21ZM6.10452 13.875C5.556 13.875 5.01978 14.04 4.5637 14.349C4.10761 14.658 3.75214 15.0973 3.54223 15.6112C3.33231 16.1251 3.27739 16.6906 3.3844 17.2362C3.49142 17.7818 3.75556 18.2829 4.14343 18.6762C4.5313 19.0696 5.02547 19.3374 5.56346 19.446C6.10145 19.5545 6.65909 19.4988 7.16586 19.2859C7.67264 19.073 8.10578 18.7126 8.41053 18.25C8.71528 17.7875 8.87793 17.2438 8.87793 16.6875C8.87708 15.9418 8.58461 15.227 8.06468 14.6997C7.54475 14.1725 6.83982 13.8759 6.10452 13.875V13.875Z"/>
                      <path d="M15.1643 6.00005C15.3591 6.00073 15.5522 5.96225 15.7322 5.88681C15.9123 5.81138 16.0758 5.7005 16.2134 5.56058C16.3509 5.42065 16.4598 5.25447 16.5336 5.07163C16.6074 4.88879 16.6448 4.69293 16.6435 4.49536C16.6456 4.29878 16.6091 4.10374 16.5361 3.92164C16.463 3.73954 16.3549 3.57403 16.218 3.4348C16.0812 3.29558 15.9183 3.18542 15.739 3.11077C15.5596 3.03612 15.3674 2.99848 15.1736 3.00005C14.9793 2.99943 14.7869 3.03762 14.6072 3.11243C14.4275 3.18725 14.2641 3.29722 14.1263 3.43607C13.9885 3.57492 13.8791 3.73994 13.8042 3.92169C13.7293 4.10344 13.6904 4.29838 13.6898 4.49536C13.6892 4.69234 13.7268 4.88752 13.8006 5.06974C13.8744 5.25197 13.9828 5.41767 14.1198 5.55739C14.2567 5.69712 14.4194 5.80812 14.5986 5.88407C14.7779 5.96002 14.9701 5.99943 15.1643 6.00005V6.00005Z"/>
                      <path d="M17.3623 9.00003H15.3395C15.3063 9.00004 15.2738 8.99099 15.2452 8.97384C15.2167 8.95668 15.1932 8.93205 15.1773 8.90253L13.7101 6.17581C13.6068 5.97318 13.4578 5.79807 13.2753 5.66467C13.0928 5.53127 12.8819 5.44333 12.6596 5.40795C12.4374 5.37258 12.21 5.39077 11.996 5.46106C11.7819 5.53135 11.5872 5.65175 11.4276 5.81253L8.19845 9.11253C7.92716 9.39333 7.77317 9.76945 7.76857 10.1625C7.76857 10.9782 8.35099 11.2688 8.6237 11.4328C9.94107 12.2025 10.8688 12.7655 11.3777 13.0782C11.4048 13.0949 11.4271 13.1183 11.4427 13.1463C11.4582 13.1743 11.4664 13.2059 11.4665 13.238V16.478C11.4665 16.8816 11.7725 17.228 12.1704 17.2482C12.2704 17.253 12.3702 17.2373 12.464 17.2019C12.5577 17.1666 12.6434 17.1123 12.7159 17.0423C12.7884 16.9724 12.8461 16.8883 12.8856 16.7951C12.925 16.7018 12.9455 16.6015 12.9456 16.5V12.4688C12.9457 12.3497 12.9178 12.2324 12.8643 12.1264C12.8107 12.0204 12.7331 11.9289 12.6378 11.8594L10.9275 10.6121C10.906 10.5965 10.8881 10.5764 10.8749 10.5532C10.8617 10.53 10.8536 10.5043 10.851 10.4776C10.8485 10.451 10.8516 10.4241 10.8602 10.3988C10.8687 10.3734 10.8825 10.3503 10.9007 10.3308L12.8421 8.23128C12.862 8.20968 12.8866 8.19316 12.914 8.18307C12.9414 8.17297 12.9708 8.1696 12.9997 8.17321C13.0287 8.17682 13.0564 8.18731 13.0805 8.20384C13.1047 8.22037 13.1247 8.24246 13.1388 8.26831L14.1474 10.1143C14.2115 10.2313 14.3053 10.3288 14.4191 10.3966C14.5329 10.4644 14.6625 10.5001 14.7945 10.5H17.3831C17.4833 10.5002 17.5824 10.4796 17.6746 10.4397C17.7667 10.3998 17.8499 10.3413 17.919 10.2678C17.9882 10.1942 18.0419 10.1073 18.0769 10.012C18.1119 9.91685 18.1275 9.81543 18.1226 9.71394C18.1032 9.31035 17.7602 9.00003 17.3623 9.00003Z"/>
                    </svg>
                    span._info Кататься на велосипеде
                  li._item.-run
                    <svg class="pastime__run" width="21" height="24" viewBox="0 0 21 24" fill="#1D2E5B" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.9758 5.75992C15.9264 5.75992 16.697 4.90031 16.697 3.83992C16.697 2.77954 15.9264 1.91992 14.9758 1.91992C14.0253 1.91992 13.2547 2.77954 13.2547 3.83992C13.2547 4.90031 14.0253 5.75992 14.9758 5.75992Z"/>
                      <path d="M13.9234 10.5302C14.1209 10.8586 14.4043 11.1113 14.735 11.2538C15.0657 11.3964 15.4277 11.4219 15.7719 11.327L18.6257 10.5312L18.21 8.66881L15.3563 9.46465L14.1695 7.48033C13.9159 7.05655 13.5224 6.76184 13.0748 6.66049L9.76496 5.92129C9.39468 5.83839 9.01024 5.89379 8.671 6.07893C8.33176 6.26406 8.0566 6.56863 7.888 6.94561L6.46113 10.129L8.00074 10.9882L9.42761 7.80385L11.1204 8.18209L6.74341 16.32H2.92752V18.24H6.74341C7.3441 18.24 7.90952 17.8829 8.21933 17.3078L9.86996 14.2397L14.3184 15.2323L15.8812 20.4634L17.5129 19.8557L15.9509 14.6256C15.8545 14.3045 15.684 14.0174 15.4564 13.7933C15.2289 13.5691 14.9524 13.4158 14.6549 13.3488L12.0395 12.7661L13.5645 9.93025L13.9234 10.5302V10.5302Z"/>
                    </svg>
                    span._info Пешие прогулки
        a.button._show(href="catalog.html" aria-label="Показать всех.") Показать всех
    section.profile
      ._container
        ._wrapper
          h2._title Добавьте свой профиль
          ._rates
            span.visually-hidden Ставки.
        ul.pricing-list._pricing
          li._item
            p._description Базовое размещение
            span._count 1
            p._value Бесплатно
          li._item
            p._description Вывод на первых позициях
            span._count.-dark-yellow 2
            p._value 99 руб./мес
          li._item.-border
            p._description Кастомный цвет карточки
            span._count.-yellow 3
            p._value 59 руб./мес
      button._show(type="button") Показать тарифы для бизнеса
    section.interested
      ._container
        h2._title Заинтересовались?
        p._description Зарегистрируйтесь,
          br._shift
          |  это быстро и бесплатно!
          br
          |  Уже зарегистрированы? Тогда
          br._shift
          |  скорее
          a._link.-login(href="#") авторизуйтесь
          | .
        form._mail(action="https://echo.htmlacademy.ru" method="post")
          label.visually-hidden(for="email") Email
          input._field(type="email" id="email" name="email" placeholder="E-mail" required)
          button._button(type="submit" aria-label="Регистрация.")
        p._question Остались вопросы?
          br._shift
          |  Мы с радостью на них ответим!
        address._wrapper
          a._link.-phone(href="tel:88005558628")
            span._elipse
              <svg class="interested__phone" width="19" height="17">
                <use xlink:href="img/sprite.svg#interested-phone"></use>
              </svg>
            |  8 800 555-86-28
          a._link.-mail(href="mailto:mail@htmlacademy.ru")
            span._elipse.-mail
              <svg class="interested__icon-mail" width="19" height="13">
                <use xlink:href="img/sprite.svg#interested-mail"></use>
              </svg>
            |  mail@htmlacademy.ru
  footer.page-footer
    section.navigation
      h2.visually-hidden Наш адрес
      address._address
        p._text ул. Большая Конюшенная, 19/8
        a._button(href="https://www.google.com/maps/place/%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%B0%D1%8F+%D0%9A%D0%BE%D0%BD%D1%8E%D1%88%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F+%D1%83%D0%BB.,+19%2F8,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+191186/@59.9385203,30.3222749,17z/data=!4m5!3m4!1s0x4696310fca145cc1:0x42b32648d8238007!8m2!3d59.9387165!4d30.3230474") Проложить маршрут
          <svg width="12" height="14" viewBox="0 0 12 14" fill="#1D2E5B" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 7L0 13.0622L0 0.937822L12 7Z"/>
          </svg>
    section.map
      h2.visually-hidden Как до нас добраться
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.615609840007!2d30.322274922571033!3d59.93852031741016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRgdC40Y8sIDE5MTE4Ng!5e0!3m2!1sru!2s!4v1643582366882!5m2!1sru!2s", width="320", height="424", allowfullscreen)
    include includes/footer
  section.modal.-close
    ._container
      h2.__title Бизнес-тарифы
      ul._list
        li._item
          span._description Реклама у блоггера
          span._cost 300 000 руб./пост
        li._item
          span._description Накрутка подписчиков
          span._cost от 1 руб./шт.
        li._item
          span._description Лайки от ботов
          span._cost от 20 коп./лайк
        li._item
          span._description Ваш продакт-плейсмент
          span._cost Индивидуально
      button._close(type="button") Закрыть окно
