extends common/base

block pageInfo
  -
    location = 'index.html'

block main
  main.page-main
    h1.visually-hidden Путешествия вместе с "Погнали?"
    section.intro
      ._wrapper
        p._title В путешествие <br> с крутыми попутчиками!
        ul._list.-hidden
          li._item
            a._link.-phone(href="tel:88005558628")
              <svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.77423 8.22389C9.77423 8.41289 9.92786 8.56139 10.1156 8.56139C10.5048 8.56139 10.8189 8.87526 10.8189 9.25664C10.8189 9.44226 10.9725 9.59414 11.1602 9.59414C11.348 9.59414 11.5016 9.44226 11.5016 9.25664C11.5016 8.50064 10.8803 7.88639 10.1156 7.88639C9.92786 7.88639 9.77423 8.03827 9.77423 8.22389ZM15.3319 9.59414C15.5231 9.59414 15.6733 9.44226 15.6733 9.25664C15.6733 6.22589 13.1812 3.76215 10.1156 3.76215C9.92786 3.76215 9.77423 3.914 9.77423 4.09965C9.77423 4.28527 9.92786 4.43715 10.1156 4.43715C12.8057 4.43715 14.9905 6.60051 14.9905 9.25664C14.9905 9.44226 15.1441 9.59414 15.3319 9.59414Z" fill="#161C35"/>
                <path d="M12.9047 9.25661C12.9047 9.44223 13.0583 9.59411 13.2461 9.59411C13.4338 9.59411 13.5874 9.44223 13.5874 9.25661C13.5874 7.36324 12.0307 5.82424 10.1156 5.82424C9.92786 5.82424 9.77423 5.97612 9.77423 6.16174C9.77423 6.35074 9.92786 6.49924 10.1156 6.49924C11.6552 6.49924 12.9047 7.73786 12.9047 9.25661ZM10.1156 1.69998C9.92786 1.69998 9.77423 1.85186 9.77423 2.03748C9.77423 2.22312 9.92786 2.37498 10.1156 2.37498C13.9561 2.37498 17.0798 5.46312 17.0798 9.25661C17.0798 9.44223 17.23 9.59411 17.4211 9.59411C17.6089 9.59411 17.7625 9.44223 17.7625 9.25661C17.7625 5.0885 14.3316 1.69998 10.1156 1.69998ZM13.4509 12.8139L13.0037 13.0535C12.2492 13.4619 11.6621 14.5812 10.7311 13.7375L8.30007 11.3L6.2 9.25661C5.14491 7.92348 6.32631 7.60623 6.73936 6.85699L6.98175 6.41825C7.25485 5.91873 7.35384 5.35849 7.27191 4.79823C7.1934 4.23799 6.93737 3.72836 6.52771 3.32336C6.02931 2.83062 5.36703 2.56062 4.66038 2.56062C3.95372 2.56062 3.28802 2.83062 2.7896 3.32336L2.61552 3.49886C1.69379 4.41012 1.58796 5.97948 2.3151 7.92348C3.00126 9.77973 4.38386 11.7912 6.2 13.5867C8.96858 16.3239 12.0512 17.9 14.2634 17.9C15.1373 17.9 15.8781 17.6536 16.4038 17.1339L16.5813 16.9584C17.0763 16.469 17.3529 15.8142 17.3563 15.1089C17.3529 14.4204 17.0695 13.7454 16.5813 13.2627C15.7586 12.4494 14.4716 12.2671 13.4509 12.8139Z" fill="#161C35"/>
              </svg>
              span.visually-hidden 8 800 555-86-28
          li._item
            a._link.-mail(href="mailto:mail@htmlacademy.ru")
              <svg width="19" height="17" viewBox="0 0 19 17" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.01661 3.32528L8.76661 7.55572C8.99341 7.69747 9.28681 7.76467 9.58201 7.76467C9.87721 7.76467 10.1706 7.69747 10.3974 7.55572L17.1474 3.32528C17.5875 3.04913 18.0033 1.97498 17.196 1.97498H1.96891C1.16161 1.97498 1.57741 3.04913 2.01661 3.32528ZM17.3517 5.63842L10.3974 9.86677C10.0914 10.0537 9.87721 10.0757 9.58201 10.0757C9.28681 10.0757 9.07261 10.0537 8.76661 9.86677C8.46061 9.67987 2.34691 5.94082 1.84741 5.63737C1.49641 5.42317 1.50001 5.67412 1.50001 5.86732V13.525C1.50001 13.966 2.00941 14.575 2.40001 14.575H16.8C17.1906 14.575 17.7 13.966 17.7 13.525V5.86837C17.7 5.67517 17.7036 5.42422 17.3517 5.63842Z" fill="#161C35"/>
              </svg>
              span.visually-hidden mail@htmlacademy.ru
          li._item
            a._link.-login(href="#") Авторизация
        figure._text
          blockquote._quote «Лучшее приложение, что я видел в жизни!»
          figcaption._author Мурат Эльтазин <br> главный редактор газеты «гаджетлайф»
      ol.features-list._list
        li._item.-direction
          p._text Выберите <br> направление
          span._count 1
        li._item.-ideas
          p._text Изучите идеи <br> путешественников
          span._count 2
        li._item.-similarity
          p._text Находите тех, <br> кто похож на вас
          span._count 3
        li._item.-together
          p._text Путешествуйте <br> вместе!
          span._count 4
      .desktop-navigation
        a._logo
          img(src="img/logo-footer-desktop.svg", width="200", height="50", alt="Логотип сайта путешествий 'Погнали?'.")
        span._toggle
        nav.main-nav
          ul.site-list
            each link in navLinks
              if link.href === location
                li._item.-active
                  a._link.-scroll-menu=link.text
              else
                li._item
                  a._link.-scroll-menu(href=link.href)=link.text
          ul.user-list
            li._item
              a._link.-phone(href="tel:88005558628")
                span.visually-hidden 8 800 555-86-28
            li._item
              a._link.-mail(href="mailto:mail@htmlacademy.ru")
                span.visually-hidden mail@htmlacademy.ru
            li._item
              a._link.-login Авторизация
    section.about
      h2._title О сервисе
      p._description Любое путешествие веселее
        br._shift
        |  с попутчиками, которые на одной волне с тобой! Делитесь своими идеями путешествий
        br._shift.-tablet
        |  и черпайте вдохновение
        br._shift.-tablet
        |  в чужих.
      p._slogan А если найдете кого-то близкого по духу — скорее зовите в совместный трип!
      a.button.-service(href="#") Подробнее
    section.direction
      ._wrapper
        h2._title Направления
        p._description Мы не продаем туры <br> и ничего не рекламируем. <br> Люди сами пишут о странах, <br> куда хотели бы отправиться <br> и чем можно там заняться.
      ul.list-country._list
        li._item.-thailand
          ._pic.-thailand(aria-label="Пляж Тайланда.")
          ._flag.-thailand(aria-label="Флаг Тайланда.")
          ._inner
            h3._title Таиланд
            p._description Джунгли зовут!
            p._count
              span.visually-hidden="Попутчиков"
              | 18321
        li._item.-france
          ._pic.-france(aria-label="Город Франции.")
          ._flag.-france(aria-label="Флаг Франции.")
          ._inner
            h3._title Франция
            p._description Трэ бьен, манифик!
            p._count
              span.visually-hidden="Попутчиков"
              | 12518
        li._item.-czech
          ._pic.-czech(aria-label="Море Чехии.")
          ._flag.-czech(aria-label="Флаг Чехии.")
          ._inner
            h3._title Чехия
            p._description Закоулки старой Европы
            p._count
              span.visually-hidden="Попутчиков"
              | 5326
      a.button._button-show(href="form.html") Показать все
    section.travelers
      ._box
        h2._title Попутчики
        p._description Все мы индивидуальны и у каждого свой взгляд на идеальный отдых. Одному нужен пляж и коктейль, <br> а другому маршрут для хайкинга.
        p._slogan Теперь можно легко
          br._shift
          |  найти единомышленников!
      ._wrapper
        each user in [users[0], users[1]]
          .user-card(class=user.levelClass)
            picture
              source(media="(min-width: 768px)", width="285", height="285", srcset=`img/${user.userPhoto}-main-285x285.png`)
              img._photo(src=`img/${user.userPhoto}.png`, alt=user.userAlt)
            ul._country(class=user.class)
              each country in user.countries
                li._item
                  img(src=`img/${country}.png` alt=COUNTRIES_RUS[country])
                  span._info-text=COUNTRIES_RUS[country]
            ._info
              h3._name(class=`${user.isClass} ${user.isOnlineMain ? 'user-card__name--online' : ''}`)=user.name + ' ' + user.surname
              ul.hashtag-list._list
                each tag in user.hashtag
                  li._item
                    a(href="#")._link=tag
              ul.transport-list.-main-page
                li._item
                  label._control.-main-page
                    input._input.visually-hidden(type="checkbox" name="plane" checked=user.hobbies disabled)
                    span._mark.-plane.-main-page
                    span._label.visually-hidden Авиаперевозки
                li._item
                  label._control.-main-page
                    input._input.visually-hidden(type="checkbox" name="bus" checked=user.hobbies.bus disabled)
                    span._mark.-bus.-main-page
                    span._label.visually-hidden Автобусные путешествия
                li._item
                  label._control.-main-page
                    input._input.visually-hidden(type="checkbox" name="bicycle" checked=user.hobbies.bicycle disabled)
                    span._mark.-bicycle.-main-page
                    span._label.visually-hidden Кататься на велосипеде
                li._item
                  label._control.-main-page
                    input._input.visually-hidden(type="checkbox" name="run" checked=user.hobbies.run disabled)
                    span._mark.-run.-main-page
                    span._label.visually-hidden Пешие прогулки
      a.button._show(href="catalog.html" aria-label="Показать всех.") Показать всех
    section.profile
      ._wrapper
        h2._title Добавьте свой профиль
        ._rates(aria-label="Ставки.")
      ul.pricing-list._pricing
        li._item
          p._description Базовое размещение
          span._count 1
          p._value Бесплатно
        li._item
          p._description Вывод на первых позициях
          span._count.-dark-yellow 2
          p._value 99 руб./мес
        li._item.-border
          p._description Кастомный цвет карточки
          span._count.-yellow 3
          p._value 59 руб./мес
      button._show(type="button") Показать тарифы для бизнеса
    section.interested
      h2._title Заинтересовались?
      p._description Зарегистрируйтесь,
        br._shift
        |  это быстро и бесплатно!
        br
        |  Уже зарегистрированы? Тогда
        br._shift
        |  скорее
        a._link.-login(href="#") авторизуйтесь
        | .
      form._mail(action="https://echo.htmlacademy.ru" method="post")
        label.visually-hidden(for="email") Email
        input._field(type="email" id="email" name="email" placeholder="E-mail" required)
        button._button(type="submit" aria-label="Регистрация.")
      p._question Остались вопросы?
        br._shift
        |  Мы с радостью на них ответим!
      address._wrapper
        a._link.-phone(href="tel:88005558628") 8 800 555-86-28
        a._link.-mail(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
  footer.page-footer
    section.navigation
      address._address
        p._text ул. Большая Конюшенная, 19/8
        a._button(href="https://www.google.com/maps/place/%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%B0%D1%8F+%D0%9A%D0%BE%D0%BD%D1%8E%D1%88%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F+%D1%83%D0%BB.,+19%2F8,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+191186/@59.9385203,30.3222749,17z/data=!4m5!3m4!1s0x4696310fca145cc1:0x42b32648d8238007!8m2!3d59.9387165!4d30.3230474") Проложить маршрут
    section.map
      span.visually-hidden Как до нас добраться
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.615609840007!2d30.322274922571033!3d59.93852031741016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRgdC40Y8sIDE5MTE4Ng!5e0!3m2!1sru!2s!4v1643582366882!5m2!1sru!2s", width="320", height="424", allowfullscreen)
    include includes/footer
  section.modal

