table.calendar
  thead
    tr._week
      each item in ['П', 'В', 'С', 'Ч', 'П', 'C', 'В']
        td._item= item
    tr._weeks
      each item in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Cб', 'Вс']
        td._item= item
  tbody
    tr._row
      each item in ['23', '24', '25', '26', '27', '28', '1']
        td._col
          button._number(type="button")= item
    tr._row
      each item in ['2', '3', '4', '5', '6', '7', '8']
        td._col
          button._number(type="button")= item
    tr._row
      each item in ['9', '10', '11', '12', '13', '14', '15']
        td._col
          button._number(type="button")= item
    tr._row
      each item in ['16', '17', '18', '19', '20', '21', '22']
        td._col
          button._number(type="button")= item
    tr._row
      each item in ['23', '24', '25', '26', '27', '28', '29']
        td._col
          button._number(type="button")= item
    tr._row
      each item in ['30', '31', '1', '2', '3', '4', '5']
        td._col
          button._number(type="button")= item
