.calendar
  ._week
    each item in ['П', 'В', 'С', 'Ч', 'П']
      span._item= item
    span._item.-weekend С
    span._item.-weekend В
  ._weeks
    each item in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт']
      span._item= item
    span._item.-weekend Cб
    span._item.-weekend Вс
  ._container
    ._row
      each item in ['23', '24', '25', '26', '27', '28']
        button._number(type="button" disabled)= item
      button._number.-row(type="button" disabled) 1
        span._desktop мар
    ._row
      each item in ['2', '3', '4', '5', '6', '7', '8']
        button._number(type="button" disabled)= item
    ._row
      each item in ['9', '10', '11', '12', '13', '14', '15']
        button._number(type="button" disabled)= item
    ._row
      each item in ['16', '17', '18', '19', '20', '21', '22']
        button._number(type="button" disabled)= item
    ._row
      each item in ['23', '24', '25']
        button._number(type="button" disabled)= item
      button._number.-choice.-active(type="button") 26
        span._desktop Заезд
      button._number.-choice(type="button") 27
      button._number.-choice.-time(type="button") 28
        span._desktop Выезд
      button._number.-border-bottom(type="button") 29
    ._row
      each item in ['30', '31']
        button._number.-margin(type="button")= item
      button._number.-margin.-row(type="button") 1
        span._desktop апр
      button._number.-margin(type="button") 2
      button._number.-margin(type="button") 3
      button._number.-margin(type="button") 4
      button._number.-border(type="button") 5
