table.filter-table
  thead.visually-hidden
    tr
      td Буквы по алфавиту
  tbody._items
    tr._row
      each item in ['А', 'Б', 'В', 'Г', 'Д']
        td._col
          button._letter= item
    tr._row
      each item in ['Е', 'З', 'И', 'К', 'Л']
        td._col
          button._letter= item
    tr._row
      each item in ['М', 'Н', 'О', 'П', 'Р']
        td._col
          button._letter= item
    tr._row
      each item in ['С', 'Т', 'У', 'Ф', 'Х']
        td._col
          button._letter= item
    tr._row
      each item in ['Ч', 'Ш', 'Э', 'Ю', 'Я']
        td._col
          button._letter= item
