.filter-table
  button._letter.-active(type="button") A
  each item in ['Б', 'В', 'Г', 'Д']
    button._letter(type="button")= item
  each item in ['Е', 'З', 'И', 'К', 'Л']
    button._letter(type="button")= item
  each item in ['М', 'Н', 'О', 'П', 'Р']
    button._letter(type="button")= item
  each item in ['С', 'Т', 'У', 'Ф', 'Х']
    button._letter(type="button")= item
  each item in ['Ч', 'Ш', 'Э', 'Ю', 'Я']
    button._letter(type="button")= item
