each user in users
  section.user-profile
    picture._img
      source(media="(min-width: 1440px)", width="285", height="285", srcset=`img/${user.userAvatar}-285x285.png`)
      source(media="(min-width: 768px)", width="190", height="190", srcset=`img/${user.userAvatar}-190x190.png`)
      img._pic(src=`img/${user.userAvatar}-70x70.png`, width="70", height="70", alt=user.userAlt)
    label._like
      input._input.visually-hidden(type="checkbox" name="like" checked=user.isLiked)
      span._mark
      strong._count=user.like
      span._label.visually-hidden Хотите поставить лайк?
    h3._name(class=user.isOnline ? 'user-profile__name--online' : '')
      =user.name
      span._shift <br>
      =user.surname
    ul.tags-list.-catalog._list
      each tag in user.hashtag
        li._item
          a(href="")._link.-catalog=tag
    span._visit хочет посетить:
    ul.state-list._list
      each country in user.countries
        li._item
          picture
            source(media="(min-width: 768px)", width="35", height="24", srcset=`img/${country}.png`)
            img._img(src=`img/${country}-small.png` alt=COUNTRIES_RUS[country])
          span._name=COUNTRIES_RUS[country]
    ._inner
      ._wrapper.-hidden
        span._transport-text транспорт:
        span._level-text левел:
      ._wrapper
        ul.transport-list.-user._list
          li._item
            label._control.-user-card
              input._input.visually-hidden(type="checkbox" name="plane" checked=user.hobbies disabled)
              span._mark.-plane.-user-card
              span._label.visually-hidden Авиаперевозки
          li._item
            label._control.-user-card
              input._input.visually-hidden(type="checkbox" name="bus" checked=user.hobbies.bus disabled)
              span._mark.-bus.-user-card
              span._label.visually-hidden Автобусные путешествия
          li._item
            label._control.-user-card
              input._input.visually-hidden(type="checkbox" name="bicycle" checked=user.hobbies.bicycle disabled)
              span._mark.-bicycle.-user-card
              span._label.visually-hidden Кататься на велосипеде
          li._item
            label._control.-user-card
              input._input.visually-hidden(type="checkbox" name="run" checked=user.hobbies.run disabled)
              span._mark.-run.-user-card
              span._label.visually-hidden Пешие прогулки
        label.level._level(lang="en") level
          meter(value=user.level, max=100)
    button.button-show.-user(type="button") Позвать!
