each user in users
  section.user-card.-full
    img(src=`img/${user.userAvatar}-70x70.png`, alt=user.userAlt)
    span._like.-active.visually-hidden Хотите поставить лайк?
    ._wrapper
      h3._name
        =user.name
        <br>
        =user.surname
      strong._count=user.like
    ul.tags-list._list
      each tag in user.hashtag
        li._item
          a(href="")._link=tag
    span._visit хочет посетить:
    ul.state-list._list
      each country in user.countries
        li._item
          img(src=`img/${country}-small.png` alt=COUNTRIES_RUS[country])
    ._inner
      span._transport транспорт:
      span._level левел:
    ._inner
      ul.transport-list._list
        li._item
          img(src="img/plane.svg", alt="Попутчик согласен на авиаперевозки.")
        li._item
          img(src="img/bus.svg", alt="Попутчик не согласен на автобусные путешествия.")
        li._item
          img(src="img/bicycle.svg", alt="Попутчик любит кататься на велосипеде.")
        li._item
          img(src="img/run.svg", alt="Попутчик любит пешие прогулки.")
      label.level._level(lang="en") level
        meter(value=user.level, max=100)
    button._call(type="button") Позвать!
